---
import BaseLayout from '@/layouts/BaseLayout.astro';
import AdvancedSearch from '@/components/search/AdvancedSearch.vue';
---

<BaseLayout title="搜索" description="搜索文章">
  <div class="container-prose py-8 min-h-[80vh]">
    <AdvancedSearch client:load />
  </div>
</BaseLayout>
